<table>
    <tr>
        <td><h3><%= product.prodname %></h3></td>
    </tr>
    
    <tr>
         <td><%= product.productimage %></td>
    </tr>
    
    <tr>
        <td><%= "Product ID: " + product.product_id %></td>
    </tr>
    
     <tr>
         <td><%= "Product Type: " + product.prodtype %></td>
    </tr>
    
    
     <tr>
          <td><%= "Quantity in Stock: " + product.quantityinstock %></td>
    </tr>
    
     <tr>
         <td><%= "Status: " + product.status %></td>
    </tr>
    
    <tr>
        <td><%= "Price: $" +  product.prodprice %></td>
    </tr>
    
    <tr>
        <td><%= "Supplier ID: " + product.supplier_id %></td>
    </tr>
    
    <tr>
        <td><b>Add To Cart</b></td>
    </tr>
</table>
