<table>  
    <tr>
        <td><%= "Order Detail ID: " + orderdetail.orderdetail_id %></td>
    </tr>
    
    <tr>
        <td><%= "Order ID: " + orderdetail.order_id %></td>
    </tr>
    
     <tr>
         <td><%= "Product ID: " + orderdetail.product_id %></td>
    </tr>
    
     <tr>
         <td><%= "Product Quantity: " + orderdetail.prodqty %></td>
    </tr>
    
     <tr>
         <td><%= "Sale Price: $" + orderdetail.saleprice %></td>
    </tr>

</table>