<table>
    <tr>
        <td><h3><%= "Name: " + customer.firstname + " " + customer.lastname%></h3></td>
    </tr>
    
    <tr>
        <td><%= "Customer ID: " + customer.customer_id %></td>
    </tr>
    
     <tr>
         <td><%= "Email: " + customer.email %></td>
    </tr>
    
    
     <tr>
          <td><%= "Phone: " + customer.phone %></td>
    </tr>
    
     <tr>
         <td><%= "Address: " + customer.address1 %></td>
    </tr>
    
    <tr>
        <td><%= "City: " +  customer.city %></td>
    </tr>
    
    <tr>
        <td><%= "State: " + customer.state %></td>
    </tr>
    
    <tr>
        <td><%= "Zip: " + customer.zip %></td>
    </tr>

</table>
